.header {
    overflow: hidden;
    padding: 0px 10px;
    border-bottom: 5px solid #350000;
    background-color: #FFF;
    height: 110px;
}

body { margin:0px; }
  

  .header a.logo {
    scale: 138%;
    margin: 23px 52px 0px;
    float: left;
    padding: 12px;
}


.header-right a {
  float: left;
  font-size: 17px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px solid #d0cece;
border-radius: 4px;
background-color: #eaeaea;
font-family: verdana;
}

.header-right-dropdown {
  float: left;
  overflow: hidden;
  border: 1px solid #d0cece;
  border-radius: 4px;
  background-color: #eaeaea;
}


.header-right-dropdown .dropbtn{
  font-size: 17px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: verdana;
  margin: 0;
}

.header-right a:hover, .header-right-dropdown:hover .dropbtn {
  background-color: #c5c6c5;
}

.header-right-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.header-right-dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.header-right-dropdown-content a:hover {
  background-color: #ddd;
}

.header-right-dropdown:hover .header-right-dropdown-content {
  display: block;
}

  .header a.active {
    background-color: #666;
    color: white;
  }
  
  .active-btn {
    background-color: #666;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
  }
  
  .header-right {
    float: right;
    margin-top: 62px;;
  }

  .welcome-text {
    height: 200px;
  }

  .welcome-text .text-greetings{
    margin: 50px auto;
    width: 70%;
    font-size: 22px;
    text-align: center;
    padding: 10px;
    background-color: #b7b440;
    border-radius: 10px;
    font-family: verdana;
}

.store-layout {
    margin: 0px 50px 50px;
    border: 10px solid #fff;
    border-radius: 12px;
    box-shadow: 9px 9px 11px #353535;
}

.store-layout-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.store-layout-text {
  border: 1px solid #fff;
  background-color: #fff;
}

.store-layout-text h2{
  text-align: center;
  font-size: 40px;
  font-family: verdana;
}

.store-layout-top .exit{
  position: absolute;
  margin-left: 126px;
  scale: 160%;
  margin-top: -3px;
}

.store-layout-top .qc {
    width: 100%;
    background-color: #c5c6c5;
    height: 400px;
}

.store-layout-top .qc:hover {
  box-shadow: -7px -4px 8px #353535;
}

.store-layout-top .qc a{
  width: 200%;
  margin-top: 160px;
  font-size: 55px;
  text-align: center;
  text-decoration: none;
  font-family: verdana;
}

.store-layout-top .direction {
  position: absolute;
  margin-left: 83%;
  margin-top: -86px;
  scale: 100%;
}

.store-layout-top .tp {
    width: 100%;
    background-color: rgb(234, 234, 234);
    height: 400px;
}

.store-layout-top .tp:hover {
  box-shadow: 7px -4px 8px #353535;
}

.store-layout-top .tp a{
  width: 200%;
  margin-top: 160px;
  font-size: 55px;
  text-align: center;
  text-decoration: none;
  font-family: verdana;
  color: black;
}

a:visited {
  color: black;
}

.store-layout-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.store-layout-bottom .fd {
    width: 100%;
    background-color: rgb(234, 234, 234);
    height: 400px;
}

.store-layout-bottom .fd a{
  width: 200%;
  margin-top: 160px;
  font-size: 55px;
  text-align: center;
  text-decoration: none;
  font-family: verdana;
  
}

.store-layout-bottom .kites {
    width: 100%;
    background-color: #c5c6c5;
    height: 400px;
}

.store-layout-bottom .kites:hover {
  box-shadow: 7px 4px 8px #353535;
}

.store-layout-bottom .entrance{
  position: absolute;
  margin-top: 394px;
  margin-left: 58%;
  scale: 150%;
}

.store-layout-bottom .kites a{
  width: 200%;
  margin-top: 160px;
  font-size: 55px;
  text-align: center;
  text-decoration: none;
  font-family: verdana;
}

.footer {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: revert;
  left: 0;
  color: #f2f3f3;
  background-color: #242729;
  clear: both;
  display: flex;
}

.footer-address {
  padding: 30px;
  flex-grow: 1;
  font-family: verdana;
  width: 25%;
}

.footer-address p{
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.footer-sitemap {
  flex-grow: 1;
  padding: 30px;
  width: 20%;
  font-family: verdana;
}

.footer-sitemap a{
  font-size: 20px;
  text-decoration: none;
  color: aliceblue;
  line-height: 30px;
}

.footer-sitemap li{
  font-size: 20px;
  text-decoration: none;
  color: aliceblue;
  line-height: 30px;
}
.footer-empty {
  flex-grow: 1;
  width: 74%;
}

/*
Product list CSS Start here
*/

.container {
  background: #DCD94E;
  display: inline-block;
  width: 100%;

}

.page-title{
  margin: 0px 75px auto;
  color: #3e3e3e;
  font-family: verdana;
}

.page-title-about-us{
  margin: 20px 50px auto;
  color: #3e3e3e;
  font-family: verdana;
  flex-grow: 1;
  width: 58%;
  text-align: justify;
  background-color: #FFFFFFE6;;
  padding: 15px;
  line-height: 36px;
  border-radius: 10px;
  box-shadow: 5px 5px 8px #353535;
}

.page-title h1{
  font-size: 45px;
}
.product-view {
  overflow: auto;
  margin: 0px 75px 40px;
  margin-right: 75px;
  margin-right: 75px;
  border-radius: 10px;
  background-color: #FFFFFFE6;
  box-shadow: 5px 5px 8px #353535;
}

.product-image {
  width: 40%; 
  padding: 20px;
  float: left;
  padding-top: 48px;
}

.product-description {
  float: right;
  width: 40%; 
  padding: 20px;
  text-align: justify;
  font-size: 20px;
  line-height: 35px;
  font-family: verdana;
  padding-right: 30px;
}

.page-title-about-us p{
  font-size: 17px;

}
.about-image img{
  width: 100%;
  margin: 20px 20px auto;
  border-radius: 10px;
}

.about-text {
  padding:20px;
}

.about-info {
  display: flex;
  height: 700px;
}
.about-text p{
  text-align: justify;
  font-size: 20px;
}

.business-info {
  display: flex;
  margin: 50px 75px 200px;
}

.business-image {
  flex-grow: 1;
}

.business-text{
  flex-grow: 1;  
}

.business-text table, td, th {  
  text-align: left;
  font-size: 24.3px;
  background-color: #eaeaea;
  box-shadow: 3px 2px 7px #353535;
  border-radius: 6px;
  font-family: verdana;
}

.business-text table {
  border-collapse: collapse;
  width: 100%;
}

.business-text th, td {
  padding: 15px;
}

